body {
    color: #495057;
}

.bg-primary {
	background-color: #2C3E50 !important;
 }

 .text-primary {
	color: #4A90E2 !important;
 }

 a {
	color: #4A90E2;
 }
 
 a:hover, a:focus, a:active {
	color: #2C3E50;
 }

.list-social-icons a {
    color: #6C757D;
}

.list-social-icons a:hover {
    color: #2C3E50;
}

.list-icons .list-inline-item i:hover {
    color: #2C3E50;
}

code {
    color: #495057;
}